<a href="https://colab.research.google.com/github/lioradopacio/Python_pandas/blob/main/monitoria_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução: Pandas

In [1]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [12]:
dataFrame = pd.read_csv ('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv', delimiter = ',')
dataFrame.describe()

         Survived      Pclass  ...  Parents/Children Aboard       Fare
count  887.000000  887.000000  ...               887.000000  887.00000
mean     0.385569    2.305524  ...                 0.383315   32.30542
std      0.487004    0.836662  ...                 0.807466   49.78204
min      0.000000    1.000000  ...                 0.000000    0.00000
25%      0.000000    2.000000  ...                 0.000000    7.92500
50%      0.000000    3.000000  ...                 0.000000   14.45420
75%      1.000000    3.000000  ...                 0.000000   31.13750
max      1.000000    3.000000  ...                 6.000000  512.32920

[8 rows x 6 columns]

In [6]:
dataFrame.shape

(887, 8)

In [7]:
dataFrame['Age'].mean()

29.471443066516347

In [8]:
dataFrame['Fare'].mean()

32.30542018038328

In [14]:
dataFrame[dataFrame.Sex == 'male'].count()

Survived                   573
Pclass                     573
Name                       573
Sex                        573
Age                        573
Siblings/Spouses Aboard    573
Parents/Children Aboard    573
Fare                       573
dtype: int64

In [11]:
len(dataFrame.query('Age >= 10 & Age <= 38'))

602

# **PANDAS: SERIES**

In [15]:
import pandas as pd

In [17]:
s = pd.Series([2,6,7,9])
s

0    2
1    6
2    7
3    9
dtype: int64

In [29]:
#criar lista com uma letra em casa linha
ss = pd.Series(list('Guilherme'))
ss

#criar lista com uma posição
ss = pd.Series(['Guilherme'])
ss

0    G
1    u
2    i
3    l
4    h
5    e
6    r
7    m
8    e
dtype: object

In [32]:
#trocar os índices por letras
ss = pd.Series([2,5,9,12], index = ['a', 'b', 'c', 'd'])

#passar dois valores para exibir precisa de 2 colchetes (passar como lista)
ss[['a', 'd', 'c']]

a     2
d    12
c     9
dtype: int64