<a href="https://colab.research.google.com/github/lioradopacio/Python_pandas/blob/main/monitoria_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução: Pandas

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
dataFrame = pd.read_csv ('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv', delimiter = ',')
dataFrame.describe()

         Survived      Pclass  ...  Parents/Children Aboard       Fare
count  887.000000  887.000000  ...               887.000000  887.00000
mean     0.385569    2.305524  ...                 0.383315   32.30542
std      0.487004    0.836662  ...                 0.807466   49.78204
min      0.000000    1.000000  ...                 0.000000    0.00000
25%      0.000000    2.000000  ...                 0.000000    7.92500
50%      0.000000    3.000000  ...                 0.000000   14.45420
75%      1.000000    3.000000  ...                 0.000000   31.13750
max      1.000000    3.000000  ...                 6.000000  512.32920

[8 rows x 6 columns]

In [ ]:
dataFrame.shape

(887, 8)

In [ ]:
#média
dataFrame['Age'].mean()

29.471443066516347

In [ ]:
dataFrame['Fare'].mean()

32.30542018038328

In [ ]:
#contando número homens na coluna sexo
dataFrame[dataFrame.Sex == 'male'].count()

Survived                   573
Pclass                     573
Name                       573
Sex                        573
Age                        573
Siblings/Spouses Aboard    573
Parents/Children Aboard    573
Fare                       573
dtype: int64

In [ ]:
#outra forma de contar
len(dataFrame.query('Age >= 10 & Age <= 38'))

602

# **PANDAS: SERIES**

In [ ]:
import pandas as pd

In [ ]:
#serie: criando uma coluna
s = pd.Series([2,6,7,9])
s

0    2
1    6
2    7
3    9
dtype: int64

In [ ]:
#criar lista com uma letra em casa linha
ss = pd.Series(list('Guilherme'))
ss

#criar lista com uma posição
ss = pd.Series(['Guilherme'])
ss

0    Guilherme
dtype: object

In [ ]:
#trocar os índices por letras
s3 = pd.Series([2,5,9,12], index = ['a', 'b', 'c', 'd'])

#passar dois valores para exibir precisa de 2 colchetes (passar como lista)
s3[['a', 'd', 'c']]

a     2
d    12
c     9
dtype: int64

In [ ]:
#filtra valores maiores que 8
#s3 [s3 > 8]

#outra forma de fazer
condicao = s3 != 5
s3[condicao]

a     2
c     9
d    12
dtype: int64

In [ ]:
#somando valores em cada elemento da lista
s4 = s3 + 2
s4

a     4
b     7
c    11
d    14
dtype: int64

In [ ]:
#somando um determinado valor da lista
s3 ['a'] - 2

0

In [ ]:
dicionario = {'Nome': 'Liora', 'Idade':25, 'Sexo':'F'}
d = pd.Series(dicionario)
display(d)

Nome     Liora
Idade       25
Sexo         F
dtype: object

# Operações básicas Series

In [ ]:
import pandas as pd

In [ ]:
a = pd.Series([2,4,6,8], dtype ='int64')
b = pd.Series([1,9,3,10], dtype ='int64')
c = pd.Series([1,14,29], dtype ='int64')

In [ ]:
#tipos diferentes de resultados criados (int: mesmo número de elementos entre listas 
#Float: listas com numero de elementos diferentes)
print(a+b)
print(a-c)
print(a*c)

0     3
1    13
2     9
3    18
dtype: int64
0     1.0
1   -10.0
2   -23.0
3     NaN
dtype: float64
0      2.0
1     56.0
2    174.0
3      NaN
dtype: float64

#PANDAS DATAFRAME

In [1]:
import pandas as pd

In [36]:
df = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/homes.csv', delimiter = ','
, names = ['Sell', 'List', 'Living', 'Rooms', 'Beds', 'Baths', 'Age', 'Acres', 'Taxes'], skiprows = [0])
df.head()

   Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes
0   142   160      28     10     5      3   60   0.28   3167
1   175   180      18      8     4      1   12   0.43   4033
2   129   132      13      6     3      1   41   0.33   1471
3   138   140      17      7     3      1   22   0.46   3204
4   232   240      25      8     4      3    5   2.05   3613

In [22]:
#mostra o que tem na coluna com índice
df['Age']

0      60
1      12
2      41
3      22
4       5
5       9
6      18
7      16
8      30
9      43
10     18
11     50
12      2
13     13
14     15
15     33
16     37
17     22
18     13
19     24
20     10
21      6
22     46
23     37
24     27
25      7
26     26
27     35
28      4
29     11
30     16
31     56
32     33
33     22
34     25
35     31
36     33
37     65
38     33
39     12
40     25
41     11
42     43
43    202
44     44
45     15
46     10
47      4
48     97
49     42
Name: Age, dtype: int64

In [6]:
df.shape

(50, 9)

In [20]:
#values mostra só valores
df['Sell'].values

array([142, 175, 129, 138, 232, 135, 150, 207, 271,  89, 153,  87, 234,
       106, 175, 165, 166, 136, 148, 151, 180, 293, 167, 190, 184, 157,
       110, 135, 567, 180, 183, 185, 152, 148, 152, 146, 170, 127, 265,
       157, 128, 110, 123, 212, 145, 129, 143, 247, 111, 133])

In [38]:
#adicionar nova coluna na tabela
df['nova_coluna'] = 0
df

    Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes  nova_coluna
0    142   160      28     10     5      3   60   0.28   3167            0
1    175   180      18      8     4      1   12   0.43   4033            0
2    129   132      13      6     3      1   41   0.33   1471            0
3    138   140      17      7     3      1   22   0.46   3204            0
4    232   240      25      8     4      3    5   2.05   3613            0
5    135   140      18      7     4      3    9   0.57   3028            0
6    150   160      20      8     4      3   18   4.00   3131            0
7    207   225      22      8     4      2   16   2.22   5158            0
8    271   285      30     10     5      2   30   0.53   5702            0
9     89    90      10      5     3      1   43   0.30   2054            0
10   153   157      22      8     3      3   18   0.38   4127            0
11    87    90      16      7     3      1   50   0.65   1445            0
12   234   238      25      8     4      2    2   1.61   2087            0
13   106   116      20      8     4      1   13   0.22   2818            0
14   175   180      22      8     4      2   15   2.06   3917            0
15   165   170      17      8     4      2   33   0.46   2220            0
16   166   170      23      9     4      2   37   0.27   3498            0
17   136   140      19      7     3      1   22   0.63   3607            0
18   148   160      17      7     3      2   13   0.36   3648            0
19   151   153      19      8     4      2   24   0.34   3561            0
20   180   190      24      9     4      2   10   1.55   4681            0
21   293   305      26      8     4      3    6   0.46   7088            0
22   167   170      20      9     4      2   46   0.46   3482            0
23   190   193      22      9     5      2   37   0.48   3920            0
24   184   190      21      9     5      2   27   1.30   4162            0
25   157   165      20      8     4      2    7   0.30   3785            0
26   110   115      16      8     4      1   26   0.29   3103            0
27   135   145      18      7     4      1   35   0.43   3363            0
28   567   625      64     11     4      4    4   0.85  12192            0
29   180   185      20      8     4      2   11   1.00   3831            0
30   183   188      17      7     3      2   16   3.00   3564            0
31   185   193      20      9     3      2   56   6.49   3765            0
32   152   155      17      8     4      1   33   0.70   3361            0
33   148   153      13      6     3      2   22   0.39   3950            0
34   152   159      15      7     3      1   25   0.59   3055            0
35   146   150      16      7     3      1   31   0.36   2950            0
36   170   190      24     10     3      2   33   0.57   3346            0
37   127   130      20      8     4      1   65   0.40   3334            0
38   265   270      36     10     6      3   33   1.20   5853            0
39   157   163      18      8     4      2   12   1.13   3982            0
40   128   135      17      9     4      1   25   0.52   3374            0
41   110   120      15      8     4      2   11   0.59   3119            0
42   123   130      18      8     4      2   43   0.39   3268            0
43   212   230      39     12     5      3  202   4.29   3648            0
44   145   145      18      8     4      2   44   0.22   2783            0
45   129   135      10      6     3      1   15   1.00   2438            0
46   143   145      21      7     4      2   10   1.20   3529            0
47   247   252      29      9     4      2    4   1.25   4626            0
48   111   120      15      8     3      1   97   1.11   3205            0
49   133   145      26      7     3      1   42   0.36   3059            0

In [39]:
#adicionando 10% nas taxas
df['Taxes'] = df['Taxes'] * 1,1

df.head()

ValueError: ignored

In [24]:
df.T

                  0        1        2   ...       47       48       49
Sell          142.00   175.00   129.00  ...   247.00   111.00   133.00
List          160.00   180.00   132.00  ...   252.00   120.00   145.00
Living         28.00    18.00    13.00  ...    29.00    15.00    26.00
Rooms          10.00     8.00     6.00  ...     9.00     8.00     7.00
Beds            5.00     4.00     3.00  ...     4.00     3.00     3.00
Baths           3.00     1.00     1.00  ...     2.00     1.00     1.00
Age            60.00    12.00    41.00  ...     4.00    97.00    42.00
Acres           0.28     0.43     0.33  ...     1.25     1.11     0.36
Taxes        3167.00  4033.00  1471.00  ...  4626.00  3205.00  3059.00
nova_coluna     0.00     0.00     0.00  ...     0.00     0.00     0.00

[10 rows x 50 columns]

In [26]:
df.describe()

             Sell        List     Living  ...      Acres         Taxes  nova_coluna
count   50.000000   50.000000  50.000000  ...  50.000000     50.000000         50.0
mean   170.360000  178.340000  21.120000  ...   1.020600   3706.100000          0.0
std     72.755885   79.382723   8.351072  ...   1.191496   1579.915268          0.0
min     87.000000   90.000000  10.000000  ...   0.220000   1445.000000          0.0
25%    135.000000  140.000000  17.000000  ...   0.382500   3107.000000          0.0
50%    152.000000  160.000000  20.000000  ...   0.550000   3490.000000          0.0
75%    182.250000  190.000000  22.750000  ...   1.182500   3919.250000          0.0
max    567.000000  625.000000  64.000000  ...   6.490000  12192.000000          0.0

[8 rows x 10 columns]

In [31]:
#soma de uma coluna específica
df['Age'].mean()

30.22

In [32]:
print(df['Age'].mean())
print(df['Age'].sum())
print(df['Age'].min())
print(df['Age'].max())

30.22
1511
2
202

In [41]:
#consultas no DataFrame - 2 formas diferentes & ou and
df.query('Taxes < 3000 & Age < 20')
df.query('Taxes < 3000 and Age < 20')

    Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes  nova_coluna
12   234   238      25      8     4      2    2   1.61   2087            0
13   106   116      20      8     4      1   13   0.22   2818            0
45   129   135      10      6     3      1   15   1.00   2438            0

In [46]:
#consultas no DataFrame - 2 formas diferentes OR ou |
df.query('Age == 2 or Age != 20')
# df.query('Age == 2 | Age > 20')

    Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes  nova_coluna
0    142   160      28     10     5      3   60   0.28   3167            0
1    175   180      18      8     4      1   12   0.43   4033            0
2    129   132      13      6     3      1   41   0.33   1471            0
3    138   140      17      7     3      1   22   0.46   3204            0
4    232   240      25      8     4      3    5   2.05   3613            0
5    135   140      18      7     4      3    9   0.57   3028            0
6    150   160      20      8     4      3   18   4.00   3131            0
7    207   225      22      8     4      2   16   2.22   5158            0
8    271   285      30     10     5      2   30   0.53   5702            0
9     89    90      10      5     3      1   43   0.30   2054            0
10   153   157      22      8     3      3   18   0.38   4127            0
11    87    90      16      7     3      1   50   0.65   1445            0
12   234   238      25      8     4      2    2   1.61   2087            0
13   106   116      20      8     4      1   13   0.22   2818            0
14   175   180      22      8     4      2   15   2.06   3917            0
15   165   170      17      8     4      2   33   0.46   2220            0
16   166   170      23      9     4      2   37   0.27   3498            0
17   136   140      19      7     3      1   22   0.63   3607            0
18   148   160      17      7     3      2   13   0.36   3648            0
19   151   153      19      8     4      2   24   0.34   3561            0
20   180   190      24      9     4      2   10   1.55   4681            0
21   293   305      26      8     4      3    6   0.46   7088            0
22   167   170      20      9     4      2   46   0.46   3482            0
23   190   193      22      9     5      2   37   0.48   3920            0
24   184   190      21      9     5      2   27   1.30   4162            0
25   157   165      20      8     4      2    7   0.30   3785            0
26   110   115      16      8     4      1   26   0.29   3103            0
27   135   145      18      7     4      1   35   0.43   3363            0
28   567   625      64     11     4      4    4   0.85  12192            0
29   180   185      20      8     4      2   11   1.00   3831            0
30   183   188      17      7     3      2   16   3.00   3564            0
31   185   193      20      9     3      2   56   6.49   3765            0
32   152   155      17      8     4      1   33   0.70   3361            0
33   148   153      13      6     3      2   22   0.39   3950            0
34   152   159      15      7     3      1   25   0.59   3055            0
35   146   150      16      7     3      1   31   0.36   2950            0
36   170   190      24     10     3      2   33   0.57   3346            0
37   127   130      20      8     4      1   65   0.40   3334            0
38   265   270      36     10     6      3   33   1.20   5853            0
39   157   163      18      8     4      2   12   1.13   3982            0
40   128   135      17      9     4      1   25   0.52   3374            0
41   110   120      15      8     4      2   11   0.59   3119            0
42   123   130      18      8     4      2   43   0.39   3268            0
43   212   230      39     12     5      3  202   4.29   3648            0
44   145   145      18      8     4      2   44   0.22   2783            0
45   129   135      10      6     3      1   15   1.00   2438            0
46   143   145      21      7     4      2   10   1.20   3529            0
47   247   252      29      9     4      2    4   1.25   4626            0
48   111   120      15      8     3      1   97   1.11   3205            0
49   133   145      26      7     3      1   42   0.36   3059            0

In [42]:
#outra forma de fazer consultas sem o query
df[(df.Taxes < 3000) & (df.Age < 20)]

    Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes  nova_coluna
12   234   238      25      8     4      2    2   1.61   2087            0
13   106   116      20      8     4      1   13   0.22   2818            0
45   129   135      10      6     3      1   15   1.00   2438            0

In [57]:
#filtro com LOC
df.loc[df['Age'] < 20]

    Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes
1    175   180      18      8     4      1   12   0.43   4033
4    232   240      25      8     4      3    5   2.05   3613
5    135   140      18      7     4      3    9   0.57   3028
6    150   160      20      8     4      3   18   4.00   3131
7    207   225      22      8     4      2   16   2.22   5158
10   153   157      22      8     3      3   18   0.38   4127
12   234   238      25      8     4      2    2   1.61   2087
13   106   116      20      8     4      1   13   0.22   2818
14   175   180      22      8     4      2   15   2.06   3917
18   148   160      17      7     3      2   13   0.36   3648
20   180   190      24      9     4      2   10   1.55   4681
21   293   305      26      8     4      3    6   0.46   7088
25   157   165      20      8     4      2    7   0.30   3785
28   567   625      64     11     4      4    4   0.85  12192
29   180   185      20      8     4      2   11   1.00   3831
30   183   188      17      7     3      2   16   3.00   3564
39   157   163      18      8     4      2   12   1.13   3982
41   110   120      15      8     4      2   11   0.59   3119
45   129   135      10      6     3      1   15   1.00   2438
46   143   145      21      7     4      2   10   1.20   3529
47   247   252      29      9     4      2    4   1.25   4626

In [47]:
df.head()

   Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes  nova_coluna
0   142   160      28     10     5      3   60   0.28   3167            0
1   175   180      18      8     4      1   12   0.43   4033            0
2   129   132      13      6     3      1   41   0.33   1471            0
3   138   140      17      7     3      1   22   0.46   3204            0
4   232   240      25      8     4      3    5   2.05   3613            0

In [52]:
#função loc foi feito para pegar linhas inteiras e não valores específicos (process. lento)
df.loc[3]

Sell            138.00
List            140.00
Living           17.00
Rooms             7.00
Beds              3.00
Baths             1.00
Age              22.00
Acres             0.46
Taxes          3204.00
nova_coluna       0.00
Name: 3, dtype: float64

In [53]:
#acessar posição específica usar ILOC
df.iloc[3,6]

22

In [ ]:
del df ['nova_coluna']

In [56]:
df

    Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes
0    142   160      28     10     5      3   60   0.28   3167
1    175   180      18      8     4      1   12   0.43   4033
2    129   132      13      6     3      1   41   0.33   1471
3    138   140      17      7     3      1   22   0.46   3204
4    232   240      25      8     4      3    5   2.05   3613
5    135   140      18      7     4      3    9   0.57   3028
6    150   160      20      8     4      3   18   4.00   3131
7    207   225      22      8     4      2   16   2.22   5158
8    271   285      30     10     5      2   30   0.53   5702
9     89    90      10      5     3      1   43   0.30   2054
10   153   157      22      8     3      3   18   0.38   4127
11    87    90      16      7     3      1   50   0.65   1445
12   234   238      25      8     4      2    2   1.61   2087
13   106   116      20      8     4      1   13   0.22   2818
14   175   180      22      8     4      2   15   2.06   3917
15   165   170      17      8     4      2   33   0.46   2220
16   166   170      23      9     4      2   37   0.27   3498
17   136   140      19      7     3      1   22   0.63   3607
18   148   160      17      7     3      2   13   0.36   3648
19   151   153      19      8     4      2   24   0.34   3561
20   180   190      24      9     4      2   10   1.55   4681
21   293   305      26      8     4      3    6   0.46   7088
22   167   170      20      9     4      2   46   0.46   3482
23   190   193      22      9     5      2   37   0.48   3920
24   184   190      21      9     5      2   27   1.30   4162
25   157   165      20      8     4      2    7   0.30   3785
26   110   115      16      8     4      1   26   0.29   3103
27   135   145      18      7     4      1   35   0.43   3363
28   567   625      64     11     4      4    4   0.85  12192
29   180   185      20      8     4      2   11   1.00   3831
30   183   188      17      7     3      2   16   3.00   3564
31   185   193      20      9     3      2   56   6.49   3765
32   152   155      17      8     4      1   33   0.70   3361
33   148   153      13      6     3      2   22   0.39   3950
34   152   159      15      7     3      1   25   0.59   3055
35   146   150      16      7     3      1   31   0.36   2950
36   170   190      24     10     3      2   33   0.57   3346
37   127   130      20      8     4      1   65   0.40   3334
38   265   270      36     10     6      3   33   1.20   5853
39   157   163      18      8     4      2   12   1.13   3982
40   128   135      17      9     4      1   25   0.52   3374
41   110   120      15      8     4      2   11   0.59   3119
42   123   130      18      8     4      2   43   0.39   3268
43   212   230      39     12     5      3  202   4.29   3648
44   145   145      18      8     4      2   44   0.22   2783
45   129   135      10      6     3      1   15   1.00   2438
46   143   145      21      7     4      2   10   1.20   3529
47   247   252      29      9     4      2    4   1.25   4626
48   111   120      15      8     3      1   97   1.11   3205
49   133   145      26      7     3      1   42   0.36   3059

In [59]:
#DROP - deletar linhas | Inplace = TRUE altera no original
df.drop([1,3], inplace=True)

In [60]:
df.head()

   Sell  List  Living  Rooms  Beds  Baths  Age  Acres  Taxes
0   142   160      28     10     5      3   60   0.28   3167
2   129   132      13      6     3      1   41   0.33   1471
4   232   240      25      8     4      3    5   2.05   3613
5   135   140      18      7     4      3    9   0.57   3028
6   150   160      20      8     4      3   18   4.00   3131

In [62]:
#drop remover colunas - AXIS
df.drop(['Sell', 'Acres'], axis='columns')

    List  Living  Rooms  Beds  Baths  Age  Taxes
0    160      28     10     5      3   60   3167
2    132      13      6     3      1   41   1471
4    240      25      8     4      3    5   3613
5    140      18      7     4      3    9   3028
6    160      20      8     4      3   18   3131
7    225      22      8     4      2   16   5158
8    285      30     10     5      2   30   5702
9     90      10      5     3      1   43   2054
10   157      22      8     3      3   18   4127
11    90      16      7     3      1   50   1445
12   238      25      8     4      2    2   2087
13   116      20      8     4      1   13   2818
14   180      22      8     4      2   15   3917
15   170      17      8     4      2   33   2220
16   170      23      9     4      2   37   3498
17   140      19      7     3      1   22   3607
18   160      17      7     3      2   13   3648
19   153      19      8     4      2   24   3561
20   190      24      9     4      2   10   4681
21   305      26      8     4      3    6   7088
22   170      20      9     4      2   46   3482
23   193      22      9     5      2   37   3920
24   190      21      9     5      2   27   4162
25   165      20      8     4      2    7   3785
26   115      16      8     4      1   26   3103
27   145      18      7     4      1   35   3363
28   625      64     11     4      4    4  12192
29   185      20      8     4      2   11   3831
30   188      17      7     3      2   16   3564
31   193      20      9     3      2   56   3765
32   155      17      8     4      1   33   3361
33   153      13      6     3      2   22   3950
34   159      15      7     3      1   25   3055
35   150      16      7     3      1   31   2950
36   190      24     10     3      2   33   3346
37   130      20      8     4      1   65   3334
38   270      36     10     6      3   33   5853
39   163      18      8     4      2   12   3982
40   135      17      9     4      1   25   3374
41   120      15      8     4      2   11   3119
42   130      18      8     4      2   43   3268
43   230      39     12     5      3  202   3648
44   145      18      8     4      2   44   2783
45   135      10      6     3      1   15   2438
46   145      21      7     4      2   10   3529
47   252      29      9     4      2    4   4626
48   120      15      8     3      1   97   3205
49   145      26      7     3      1   42   3059

In [64]:
#axis = 0 é default, corresponde a linha, e axis = 1 corresponde a coluna
df.drop(['Living'], axis = 1)

    Sell  List  Rooms  Beds  Baths  Age  Acres  Taxes
0    142   160     10     5      3   60   0.28   3167
2    129   132      6     3      1   41   0.33   1471
4    232   240      8     4      3    5   2.05   3613
5    135   140      7     4      3    9   0.57   3028
6    150   160      8     4      3   18   4.00   3131
7    207   225      8     4      2   16   2.22   5158
8    271   285     10     5      2   30   0.53   5702
9     89    90      5     3      1   43   0.30   2054
10   153   157      8     3      3   18   0.38   4127
11    87    90      7     3      1   50   0.65   1445
12   234   238      8     4      2    2   1.61   2087
13   106   116      8     4      1   13   0.22   2818
14   175   180      8     4      2   15   2.06   3917
15   165   170      8     4      2   33   0.46   2220
16   166   170      9     4      2   37   0.27   3498
17   136   140      7     3      1   22   0.63   3607
18   148   160      7     3      2   13   0.36   3648
19   151   153      8     4      2   24   0.34   3561
20   180   190      9     4      2   10   1.55   4681
21   293   305      8     4      3    6   0.46   7088
22   167   170      9     4      2   46   0.46   3482
23   190   193      9     5      2   37   0.48   3920
24   184   190      9     5      2   27   1.30   4162
25   157   165      8     4      2    7   0.30   3785
26   110   115      8     4      1   26   0.29   3103
27   135   145      7     4      1   35   0.43   3363
28   567   625     11     4      4    4   0.85  12192
29   180   185      8     4      2   11   1.00   3831
30   183   188      7     3      2   16   3.00   3564
31   185   193      9     3      2   56   6.49   3765
32   152   155      8     4      1   33   0.70   3361
33   148   153      6     3      2   22   0.39   3950
34   152   159      7     3      1   25   0.59   3055
35   146   150      7     3      1   31   0.36   2950
36   170   190     10     3      2   33   0.57   3346
37   127   130      8     4      1   65   0.40   3334
38   265   270     10     6      3   33   1.20   5853
39   157   163      8     4      2   12   1.13   3982
40   128   135      9     4      1   25   0.52   3374
41   110   120      8     4      2   11   0.59   3119
42   123   130      8     4      2   43   0.39   3268
43   212   230     12     5      3  202   4.29   3648
44   145   145      8     4      2   44   0.22   2783
45   129   135      6     3      1   15   1.00   2438
46   143   145      7     4      2   10   1.20   3529
47   247   252      9     4      2    4   1.25   4626
48   111   120      8     3      1   97   1.11   3205
49   133   145      7     3      1   42   0.36   3059